<!DOCTYPE html>
{% extends 'index.html' %}
{% load static %}
{% load poll_extras %}
<html lang="en">


{% block content %}
    <title>Бронирование</title>
    <body>
    <form method="post">
        {% csrf_token %}

        <script src="{% static 'js/for_image_reserv.js' %}"></script>
        <script src="{% static 'js/for_phone_input.js' %}"></script>

        <div class="container">
            <div class="row g-2">
                <div class="col-8">
                    <img name='img' class="bi me-2" width="85%" src="{% static '/img/main_reservation.webp' %}"
                         alt="room">

                </div>

                <div class="col-4">
                    <div class="form-floating mb-1">
                        <input type="name" class="form-control" id="floatingInputGrid" placeholder="name@example.com"
                               value="" name="client_name">
                        <label for="floatingInputGrid">Введите ваше имя</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="tel" data-tel-input class="form-control" id="floatingInputGrid"
                               placeholder="Phone" maxlength="18" value="" name="client_phone">
                        <label for="floatingInputGrid">Ваш номер телефона для связи</label>
                    </div>
                    <div class="form-floating mb-1">
                        <select class="form-select" onchange="getValue(this.value);" id="floatingSelectGrid"
                                aria-label="Floating label select example"
                                name="select_room">
                            <option selected="selected">---</option>
                            {% for i in room %}
                                {% for j in images %}
                                    {% if j.room_id == i.pk %}
                                        <option value="{{ j.src|cut }}">{{ i.type }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </select>
                        <label for="floatingSelectGrid">Выберите номер для бронирования</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="date" class="form-control" class="mydate" name="date_in" placeholder="Дата">
                        <label for="floatingInputGrid">Желаемая дата заезда</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="date" class="form-control" class="mydate" name="date_out" placeholder="Дата">
                        <label for="floatingInputGrid">Желаемая дата выезда</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="data_processing">
                        <label class="form-check-label" for="exampleCheck1">Разрешаю обработку своих данных</label>
                    </div>

                    <div class="form-floating mt-4alert alert-success" role="alert">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if message.tags == 'success' %}
                                        {{ message }}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="form-floating mt-4alert alert-danger" role="alert">
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        {{ message }}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="form-floating mt-4 text-center">
                        <button type="submit" class="btn btn-primary btn-lg ">Оставить заявку</button>
                    </div>
                </div>

            </div>

        </div>
    </form>


    </body>
{% endblock %}

</html>