.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background: #cc8b52;
}
.nav-link {
  color: #cc8b52;
}
.nav-link:focus { /*Выделение цветом при нажатии*/
  color: #f80137;
}
.nav-link:hover { /*Выделение цветом при наведении*/
  color: #543a20;
}
.btn{
  background: #cc8b52;
  border: #cc8b52;
}
.carousel-caption{
  color: #cc8b52;
  text-shadow: 1px 1px 1px #4b351b;
}
body {
  margin-top: -40px;
}
.btn-primary:hover{
    background-color: #714b28;
}
.btn-primary:focus{
    background-color: #807c10;
}
.form-check-input:checked {
    background-color: #cc8b52;
    border: #cc8b52;
}